.Inputs {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.Inputs-fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Inputs-field.Inputs-field {
  min-width: 16rem;
  margin: 1rem 0.5rem;
}

@media screen and (max-width: 768px) {
  .Inputs-field.Inputs-field {
    min-width: 100%;
    margin: 0.5rem 0;
  }
}

.Inputs-buttons {
  margin-bottom: 1rem;
}

.Inputs-icon {
  margin-right: 0.6rem;
}
